.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height to fill the viewport */
}

.home-content h1,
.home-content h2,
.home-content p {
    margin: 40px 0; /* Reduce margin for better spacing */
    color: #ffe600; /* Use a consistent gold color */
    text-shadow: 1px 1px 0px #b9ae70, 2px 2px 0px #000000; /* Add a subtle gold shadow effect */
    text-align: center; /* Center align text */
}

/* Adjust font sizes for better readability */
.home-content h1 {
    font-size: 4em;
}

.home-content h2 {
    font-size: 3em;
}

.home-content p {
    font-size: 1.5em;
}
